@import './colors';

.simple_steps_container {
    height: 100vh;
}

.simple_steps_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & p {
        margin-bottom: 10px;
        margin-top: 40px;
    }
}
.simple_steps_top_text {
    font-size: 38px;
    font-weight: 400;
}

.simple_steps_top_decoration {      
    transform: scale(1.4);
}

.simple_steps_middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    // padding:0 100px 0 100px;
    background-color: $color_seven;
    height: 50vh;
}

.simple_steps_middle_align {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.simple_steps_middle_decoration {
    margin-top: 30px;
    transform: scale(1.1);
}

.simple_steps_middle_underlined {    
    margin-top: 10.5px;
    margin-bottom: 15px;
    width: 70%;
    font-size: 18px;
}

.simple_steps_middle_underlined-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.7px solid $color_black;
    width: 50%;
}

.simple_steps_middle_bottom-text {
    margin-bottom: 30px;
    font-size: 16px;
}

.simple-steps-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
} 
