@import './colors';

.three_columns_container{
    height: 385px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $color_three; 

}
.three_columns_number {
    font-size: 90px;
    margin-bottom: 50px;
    font-weight: 300;
    font-family: $font-base;
}
.three_columns_heading {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
    font-family: $font-alt;
}
.three_columns_text {
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 300;
    font-family: $font-alt;
}